<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452901697122-737ahhc59agcit6b5ovb6u9s1h66bo71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452901697122-737ahhc59agcit6b5ovb6u9s1h66bo71</string>
	<key>API_KEY</key>
	<string>AIzaSyCaNzC22Sp9neSpual70nMJ9Jt-Da-K1ok</string>
	<key>GCM_SENDER_ID</key>
	<string>452901697122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.weekend.lambdachat</string>
	<key>PROJECT_ID</key>
	<string>lambdachat-6bc5a</string>
	<key>STORAGE_BUCKET</key>
	<string>lambdachat-6bc5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452901697122:ios:1ca5846f3491a968</string>
	<key>DATABASE_URL</key>
	<string>https://lambdachat-6bc5a.firebaseio.com</string>
</dict>
</plist>